<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App</title>

    <script src="https://code.highcharts.com/highcharts.js"></script>
</head>
<body>
<h1>Welcome {{.Username}}</h1>
<div id="chart-container"></div>
<script type="text/javascript">
    Highcharts.chart('chart-container', {
            chart: {
                type: 'line',
            },
            title: {
                text: 'График прогноза'
            },
            subtitle: {
                text: 'Источник: мое приложение'
            },
            xAxis: {
                title: {
                    text: 'Дата'
                },
                categories: [
                    {{- range .Items -}}
                        {{- .Time.Format "02 Jan 2006" -}},
                    {{- end}}
                ]
            },
            yAxis: {
                title: {
                    text: 'Наблюдение'
                }
            },
            plotOptions: {
                line: {
                    enableMouseTracking: true
                }
            },
            series: [{
                name: 'Мой временной ряд',
                data: [
                    {{- range .Items -}}
                            {{- .Value -}},
                    {{- end}}
    ]
    }]
    });
</script>
</body>
</html>