<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/favicon/site.webmanifest">
</head>
<body>
<header class="navbar navbar-expand-lg navbar-light bg-primary px-2">
    <div class="container-fluid">
        <span class="navbar-brand ml-auto text-light fs-4 fw-bold">Прогноз спроса</span>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Username
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            </div>
        </div>
    </div>
</header>


<div class="container my-2">
    <div class="row">
        <form class="col" id="searchForm" action="/app/get">
            <div class="row">
                <div class="col">
                    <input class="form-control" type="text" placeholder="Поиск" name="name">
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary" type="submit">Поиск</button>
                </div>
            </div>
        </form>
        <form class="col-auto" id="loadForm" action="/app/predict" method="post" enctype="multipart/form-data">
            <div class="col-auto mb-2">
                <input class="form-control" type="file" name="time_series_file" accept="text/csv">
            </div>
            <div class="row mb-2">
                <div class="col-auto">
                    <select class="form-select" name="period">
                        <option value="24">Ежечасно</option>
                        <option value="7">Ежедневно</option>
                        <option value="4">Еженедельно</option>
                        <option value="12">Ежемесячно</option>
                    </select>
                </div>
                <div class="col-auto">
                    <input class="form-control" type="text" placeholder="Ед. изм." name="unit">
                </div>
                <div class="col-auto">
                    <input class="form-control" type="number" placeholder="Дни" name="predict_periods">
                </div>
            </div>
            <div class="col-auto">
                <button class="btn btn-secondary" type="submit">Отправить</button>
            </div>
        </form>
    </div>
</div>

{{if .Error}}
    <div class="col">
        <p class="text-danger">{{.Error}}</p>
    </div>
{{end}}

<div id="chart-container"></div>
{{if and (and .Unit .Name) (not .Error)}}
    <script type="text/javascript">
        Highcharts.chart('chart-container', {
            chart: {
                type: 'line',
            },
            title: {
                text: 'График прогноза {{.Name}}'
            },
            subtitle: {
                text: 'Источник: модель предсказания SARIMA'
            },
            legend: {
                enabled: false
            },
            xAxis: {
                title: {
                    text: 'Дата'
                },
                categories: [
                    {{- range .Items -}}
                    {{- formatTs .Ts -}},
                    {{- end}}
                ]
            },
            yAxis: {
                title: {
                    text: 'Наблюдения ({{.Unit}})'
                },
            },
            plotOptions: {
                line: {
                    enableMouseTracking: true
                }
            },
            series: [{
                name: "Значение",
                zoneAxis: 'x',
                data: [
                    {{- range .Items -}}
                    {{- .Value -}},
                    {{- end}}
                ],
                zones: [
                    {
                        value: 0,
                        color: 'blue'
                    },
                    {
                        value:  {{.Delimiter}},
                        color: 'orange'
                    }
                ]
            }]
        });
    </script>
{{end}}
</body>
</html>